<div app-head text="关于我们" has-back="true"></div>

<div class="mt-50 about-us">
	<p>广州市<a href='http://www.yijulezhu.com/'><strong>易居乐筑</strong></a>信息技术有限公司，是一家以建筑业为主体的互联网公司，中国“互联网+建筑业”模式的创先者。公司于2015年1月成立，注册资金625万元人民币，全资设立广州市优居建设有限公司，注册资金500万，是一家通过互联网信息技术解决传统建筑行业中家居维修、建材交易、建筑业资源整合等问题的新型互联网公司，公司业务涵盖整个建筑产业链的上下游，通过互联网信息技术提高维修、装修链条节点的工作效率，实现了维修全过程的信息化监管，以解决传统装饰行业的痛点、提高用户的满意度为目标，为千家万户提供维修、装修一站式服务，我们的愿景是“居者易、筑者乐”。</p>
	<p>易居乐筑自2015年成立以来运营两年多了，业务快速发展，平台全国实名注册师傅超过10000，注册用户100000，已为数千家家庭用户和几百家企业用户提供了高效、快捷、有保证的维修、整体装修服务，开创了装饰行业服务的新模式，赢得了用户的良好口碑，成为中央电视台《奋斗》栏目组的推荐品牌，成为广东广播电视珠江台《家居生活》的节目嘉宾。 </p>
	<p>公司业务包括三大版块：<a href='http://www.ejx88.com/'><strong>e家修</strong></a>（<a href='http://www.yijulezhu.com/ejx/FrontColumns_navigation01-1391847385694FirstColumnId=2&&pmcId=27.html'><strong>家居维修</strong></a>）、<a href='http://www.ejx88.com/shop/'><strong>建材商城</strong></a>（建材交易）、建筑业资源整合</p>
	<p><a href='http://www.ejx88.com/'><strong>e家修</strong></a>：互联网维修与装修一站式服务平台，平台拥有e家修官网、微信公众号、APP。平台的发展采用线上与线下高度融合的模式，从工程的本质着手，通过大数据分析为客户匹配最优的资源对接。对于零星维修：采用分享经济的O2O模式，由平台实名注册的师傅直接与需求的用户对接，减少中间环节；对于整体翻新和装修：采用公司直营模式，公司负责前期的量房、设计、洽商、签订合同等家装的前端工作，后期施工阶段公司负责主材采购、组织管理，班组承包派单给优秀师傅，公司注重质量品牌及客户的满意度高，服务区域已覆盖全国，服务客户数千家。广州汽车集团股份有限公司、富力君悦酒店、广州锦惠宾馆、番禺土地开发中心、皇上皇集团、鹅潭宾馆等知名企业已成为我司的优质客户。</p>
	<p> <a href='http://www.ejx88.com/shop/'><strong>建材商城</strong></a> ——打造最具专业评估的建材产品第三方交易平台，为建材商家提供B2C、B2B的电商交易。 <a href='http://www.ejx88.com/shop/'><strong>建材商城</strong></a>目前已进驻几百家不同门类建材商家，如科勒卫浴、摩利莎卫浴、东鹏陶瓷、马可波罗瓷砖、欧普照明、TCL照明、广州石井水泥、欧派橱柜、简一陶瓷、佰胜木门、大自然木地板、圣象地板、德高防水等。所入驻的商家大多是与家装配套的建材商，未来将吸引更多建材商家入驻。</p>
	<p><strong>建筑业资源整合</strong>——打造全方位的建筑业产业链上、下游需求的信息对接。旨在解决建筑业产业链的需求对接问题。建筑业资源整合目前处于聚集资源阶段，建筑单位在平台免费注册成为企业会员，免费发布需求信息、免收交易佣金。已有几十家建筑行业单位进驻，包括广东中凯建设工程有限公司、广州市芳村市政园林建设工程有限公司、甘肃宏伟建设集团有限公司、广州天衣防水补强新技术开发有限公司等众多建筑、装饰单位。在建筑设计方面也快速发展，与美国DCIEngineers设计公司，广州白云建筑设计院等知名单位建立了长期稳定的合作伙伴关系。</p>
	<p> </p>

</div>

<div app-foot-copyright></div>