<div app-head text="关于" has-back="true"></div>
<div class="about">
	<div class="mt-90 about-head">
		<img class="about-head-img" src="/images/icon_my_about.png" alt="icon">
		<ul class="about-head-text">
			<li>e家修</li>
			<li>v1.0.0</li>
		</ul>
	</div>
	<ul class="about-list">
		<li ui-sref="aboutUs">
			<span class="f-l">关于我们</span>
			<span class="f-r about-list-arrow">&gt;</span>
		</li>
		<li ui-sref="protocol">
			<span class="f-l">e家修平台协议</span>
			<span class="f-r about-list-arrow">&gt;</span>
		</li>
		<li>
			<span class="f-l">分享</span>
			<span class="f-r about-list-arrow">&gt;</span>
		</li>
	</ul>
	<div class="fix-b" app-foot-copyright></div>
</div>