<div app-head text="修改密码" has-back="true"></div>
<form class="pt-90 changePwd-form">
	<label class="f-l d-ib form-label" for="curPwd">当前密码：</label>
	<input class="f-r d-ib form-input"
	       id="curPwd"
	       type="password"
	       ng-model="changePwdData.Oldpasswd"
	       placeholder="请输入当前密码">
	<label class="f-l d-ib form-label form-second" for="newPwd">新密码：</label>
	<input class="f-r d-ib form-input form-second"
	       id="newPwd"
	       type="password"
	       ng-model="changePwdData.Newpasswd"
	       placeholder="请输入新密码">
	<label class="f-l d-ib form-label" for="cfmNewPwd">确认新密码：</label>
	<input class="f-r d-ib form-input"
	       id="cfmNewPwd"
	       type="password"
	       ng-model="changePwdData.cfmNewpasswd"
	       placeholder="请输入确认新密码">

	<button class="changePwdSubmit" ng-click="changePwdSubmit()">确认提交</button>
</form>