<div app-head text="师傅报价" has-back="true"></div>
<div class="confirm-master-price pt-90">
	<ul>
		<li class="confirm-master-price-item">系统估价
			<span ng-bind="systemPrice|currency:'￥':1"></span></li>
		<li class="confirm-master-price-item master-price">师傅报价(确认报价时以师傅报价为准)
			<span ng-bind="masterPriceRecords[0].Price|currency:'￥':2"></span></li>
		<li class="confirm-master-price-item confirm-master-price-title">师傅咨询信息</li>
		<li class="confirm-master-price-item confirm-master-price-reason">原因<span ng-bind="masterPriceRecords[0].Reason"></span></li>
		<li class="confirm-master-price-item">图片</li>
		<li class="confirm-master-price-item master-image">
			<ul>
				<li ng-repeat="img in masterPriceRecords[0].Imagelist"><img ng-src="{{img}}" alt=""></li>
			</ul>
		</li>

		<li class="confirm-master-price-item confirm-master-price-continue">继续询价<span ui-sref="continueQueryPrice({orderId: orderId, orderNo: orderNo})">&gt;</span></li>
	</ul>



	<button class="confirm-master-price-btn" ng-click="orderCancel()">取消订单</button>
	<button class="confirm-master-price-btn" ng-click="masterPriceConfirm()">确认</button>
</div>