<div app-head text="修改地址" has-back="true"></div>

<form class="pt-50 edit-addr-form">
	<!--TODO label input 没办法占满一行，为什么？-->
	<label for="contactName">联系人</label>
	<input id="contactName"
	       type="text"
	       ng-model="addressInfo.Contactname">

	<label for="contactPhone">联系电话</label>
	<input id="contactPhone"
	       type="text"
	       ng-model="addressInfo.Phone">

	<!--TODO 选择完地址后跳转回来的时候由于页面刷新，原来已经填写好的name要重新填写一次，想方法解决-->
	<label for="contactRegion">所在地区</label>
	<input id="contactRegion"
	       class="contactRegion-input"
	       type="text"
	       ng-model="addressInfo.Region"
	       readonly>
	<div class="contactRegion-span"
	     ng-bind="addressInfo.Region?addressInfo.Region:'&gt;'"
	     ui-sref="cityPicker({from: addressInfo.Id})">
				<!--TODO 连接地址问题解决-->

	</div>

	<textarea id="contactAddr"
	          placeholder="详细地址"
	          ng-model="addressInfo.Contactaddr">
	</textarea>

	<label class="is-default-label-1 f-l">设为默认地址</label>
	<div class="is-default-checkbox f-r">
		<input class="is-default-input"
		       id="isDefault"
		       type="checkbox"
		       ng-model="addressInfo.IsDefaultaddr">
		<label for="isDefault"></label>
	</div>

</form>


<button class="edit-complete" ng-click="editAddrSubmit()">保存</button>
