<div app-head text="修改地址" has-back="true"></div>

<form class="pt-90 edit-addr-form">
	<label for="contactName">联系人</label>
	<input id="contactName"
	       type="text"
	       ng-model="addressInfo.Contactname">

	<label for="contactPhone">联系电话</label>
	<input id="contactPhone"
	       type="text"
	       ng-model="addressInfo.Phone">

	<label for="contactRegion">所在地区</label>
	<input id="contactRegion"
	       class="contactRegion-input"
	       type="text"
	       ng-model="addressInfo.Region"
	       readonly>
	<div class="contactRegion-span"
	     ng-bind="addressInfo.Region?addressInfo.Region:'&gt;'"
	     ui-sref="cityPicker({from: 'editAddress-'+addressInfo.Id})">

	</div>

	<textarea id="contactAddr"
	          placeholder="详细地址"
	          ng-model="addressInfo.Contactaddr">
	</textarea>

	<label class="is-default-label-1 f-l">设为默认地址</label>
	<div class="is-default-checkbox f-r">
		<input class="is-default-input"
		       id="isDefault"
		       type="checkbox"
		       ng-model="addressInfo.IsDefaultaddr"
		       ng-checked="addressInfo.IsDefaultaddr?'true':''">
		<label for="isDefault"></label>
	</div>

</form>


<button class="edit-complete" ng-click="editAddrSubmit()">保存</button>
