<div app-head text="意见反馈" has-back="true"></div>
<form class="pt-90 feedback">
	<div class="feedback-type-div">
		<label class="feedback-type-label f-l" for="feedback-type">反馈类型</label>

		<i class="feedback-type-select-icon f-r fa fa-sort-desc" ng-click="modalSheet.visible=true" aria-hidden="true"></i>
		<span class="feedback-type-select-span f-r" id="feedback-type" ng-bind="feedbackData.selected.TypeName" ng-click="modalSheet.visible=true">
		</span>

		<div app-modal-sheet select="clickToSelectType(Id, Type)" list="feedbackData.type" visible="modalSheet.visible"></div>
	</div>

	<textarea class="feedback-advise"
	          placeholder="请输入您的建议(150个字以内)..."
	          ng-model="feedbackData.advise">
	</textarea>

	<div class="feedback-pic">
		<label>上传图片</label>
		<input id="feedback-pic" type="file" accept="image/*"/>
		<label id="feedback-pic-insert-label" for="feedback-pic" class="feedback-pic-insert-label"><img class="feedback-pic-insert-btn" ng-src="/images/upload.png"></label>

	</div>

	<button class="feedback-submit" ng-click="feedbackSubmit()">提交反馈</button>
</form>

<!-- 放大预览图片时的遮罩层 -->
<div id="preview-img-modal">
	<header>
		<span ng-click="hideModal()">&lt;</span>
		<button ng-click="cancelUploadImg()">删除</button>
	</header>
</div>