<div app-head text="找回密码" has-back="true"></div>
<form class="mt-50 forget-password-form">
	<input class="form-input"
	       type="tel"
	       placeholder="请输入手机号"
	       ng-model="forgetdata.Mobileno"
	       autofocus/>
	<input class="verification-code-input f-l"
	       type="text"
	       placeholder="请输入验证码"
	       ng-model="forgetdata.Identificationcode"/>
	<button class="verification-code-get f-r {{time?'disabled':''}}"
	        ng-click="time?1==1:getVerCode();"
	        ng-bind="time?time:getVerCodeText">
	</button>
	<input class="form-input"
	       type="text"
	       placeholder="请输入新密码"
	       ng-model="forgetdata.Passwd"/>
	<input class="form-input"
	       type="text"
	       placeholder="确认新密码"
	       ng-model="forgetdata.Confirm"/>

	<input class="form-input form-submit"
	       type="submit"
	       value="确定"
	       ng-click="ForgetPwdSubmit()"/>
</form>