<div app-head text="系统消息" has-back="true"></div>
<div ng-show="!messageData.systemMessage.records.length>0" app-developing content="暂无系统消息~"></div>



<ul ng-show="messageData.systemMessage.records.length>0" class="pt-90 message-box-system-message-list">
	<li class="message-box-system-message-item"
	    ng-repeat="systemMessage in messageData.systemMessage.records">
		<span class="message-box-system-message-time"
		      ng-bind="systemMessage.CreateTime"></span>
		<span class="message-box-system-message-title"
		      ng-bind="systemMessage.Title"></span>
		<span class="message-box-system-message-content"
		      ng-bind="systemMessage.Message"></span>
		<span class="message-box-system-message-see-more"
		      ng-bind="'查看更多'"
		      ng-click="seeSystemMessageDetail(systemMessage)"></span>
		<span class="message-box-system-message-item-arrow"
		      ng-click="seeSystemMessageDetail(systemMessage)"></span>
	</li>

</ul>
<script>
		window.onload = function () {
			var contents = document.querySelectorAll('.message-box-system-message-content');
			var innerHtml = '';
			for (var i = 0; i < contents.length; i ++) {
				innerHtml = contents[i].innerText;
				console.log(innerHtml);
				contents[i].innerHTML = innerHtml;
			}
		};

</script>