<div app-head text="整体装修"  has-back="true"></div>
<ul class="pt-90 overall-decoration-submit-ul">
	<li><span class="title">已选择类型</span><span class="t-o" ng-bind="bookingSubmitData.styleTitle+' '+bookingSubmitData.stylePriceTitle"></span></li>
	<li class="item-2"><span class="title">整体装修</span></li>
</ul>

<form class="overall-decoration-submit-form">
	<input id="address"
	       type="text"
	       placeholder="请输入地址"
	       ng-model="bookingSubmitData.address">
	<label ui-sref="manageAddr">&gt;</label>
	<input id="appointmentTime"
	       type="datetime-local"
	       placeholder="请选择预约服务时间"
	       ng-model="bookingSubmitData.appointmentTime">
	<label for="appointmentTime">&gt;</label>
	<input id="roomArea"
	       type="number"
	       placeholder="请输入房屋的面积"
	       ng-model="bookingSubmitData.roomArea">
	<label style="font-size: small">m<sup>2</sup></label>

	<div class="room-number">
		<input id="bedRoomNum" type="number"
		       ng-model="bookingSubmitData.roomNum[0].value"
		       readonly>室
		<label for="bedRoomNum" ng-click="add(0)">＋</label>
		<label for="bedRoomNum" ng-click="minu(0)">－</label>
	</div>
	<div class="room-number">
		<input id="livingRoomNum"
		       type="number"
		       ng-model="bookingSubmitData.roomNum[1].value"
		       readonly>厅
		<label for="livingRoomNum" ng-click="add(1)">＋</label>
		<label for="livingRoomNum" ng-click="minu(1)">－</label>
	</div>
	<div class="room-number">
		<input id="kitchenRoomNum" type="number"
		       ng-model="bookingSubmitData.roomNum[2].value"
		       readonly>厨
		<label for="kitchenRoomNum" ng-click="add(2)">＋</label>
		<label for="kitchenRoomNum" ng-click="minu(2)">－</label>
	</div>
	<div class="room-number">
		<input id="bathRoomNum" type="number"
		       ng-model="bookingSubmitData.roomNum[3].value"
		       readonly>卫
		<label for="bathRoomNum" ng-click="add(3)">＋</label>
		<label for="bathRoomNum" ng-click="minu(3)">－</label>
	</div>

	<!--图片上传按钮（不可按）-->
	<div class="img-btn">
		<i class="fa fa-picture-o" aria-hidden="true"></i>
		<span>现场图片</span>
	</div>
	<!--语音文件上传按钮（可按）-->
	<label class="voice-btn" for="voice-upload">
		<input id="voice-upload" type="file" accept="audio/mpeg"/>
		<i class="fa fa-volume-off" aria-hidden="true"></i><span>语音留言</span>
	</label>

	<!--图片上传区域-->
	<div class="img-upload">
		<input id="img-upload" type="file"/>
		<label id="img-upload-insert-label"
		       for="img-upload"
		       class="img-upload-insert-label">
			<img class="img-upload-insert-btn" ng-src="/images/upload-img.png">
		</label>
	</div>

	<div class="total">合计：<span class="t-r" ng-bind="(bookingSubmitData.total==='')?'待报价':(bookingSubmitData.total|currency:'￥':1)"></span>
		<button ng-click="evaluate()">装修估价</button>
	</div>


	<button class="booking-submit-btn" ng-click="bookingSubmit()">提交预约</button>
</form>

<!-- 放大预览图片时的遮罩层 -->
<div id="preview-img-modal">
	<header>
		<span ng-click="hideModal()">&lt;</span>
		<button ng-click="cancelUploadImg()">删除</button>
	</header>
</div>
