<div app-head text="基本信息" has-back="true"></div>
<ul class="pt-50 personal-info">
	<li>
		<span class="f-l">手机号码</span>
		<span class="f-r span-right" ng-bind="personalInfo.Mobileno"></span>
	</li>
	<li>
		<span class="f-l">姓名</span>
		<span class="f-r span-right" ng-bind="personalInfo.Username"></span>
	</li>
	<li ui-sref="changePwd">
		<span class="f-l">修改账号密码</span>
		<span class="f-r span-right">&gt;</span>
	</li>
	<li ui-sref="manageAddr">
		<span class="f-l">地址管理</span>
		<span class="f-r span-right">&gt;</span>
	</li>
</ul>
<div class="btn-container">
	<button class="logout" ng-click="logout()">退出登录</button>
</div>
