.furniture-repair-type-select {
  height: 100%;
  width: 100%;
  margin: 0;
  background-image: url("/images/weixiu_bg.png");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: 50%;

  input {
    display: none;
  }


  label {
    background-color: rgb(172, 172, 172);
    color: white;
    font-weight: normal;
  }



  .repair-booking-submit-btn {
    position: absolute;
    bottom: .5rem;
    left: 0;
    right: 0;
    padding: 0;
    margin: auto;

    border-radius: 5px;
    box-shadow: 1px 1px 2px #909090;
    background-color: red;
    color: white;
    width: @btnWidth;
    height: @btnHeight;

  }

}