.my-order-detail-detail {
  margin: 0;
  padding: 0;
  padding-top: 1.85rem;
  overflow: auto;
  z-index: 100;

  .my-order-detail-detail-field {
    margin: 0;
    padding: 0 .2rem;
    border-bottom: 1px solid #f6f6f6;
    width: 100%;
    height: 1rem;
    line-height: 1rem;

    .my-order-detail-detail-value {
      color: rgb(116, 116, 116);
      height: 1rem;
      line-height: 1rem;

      .voice-icon-green {
        color: green;
      }

    }

  }

  .repair-img {
    height: 2rem;
    ul {
      height: 100%;
      width: 100%;
      display: block;
      margin: 0;
      padding: 0;
      overflow: hidden;
      li {
        height: 100%;
        width: 25%;
        display: inline-block;
        margin: 0;
        padding: 0;
        img {
          height: 100%;
          width: 100%;
          display: inline-block;
          margin: 0;
          padding: 0;
        }
      }
    }
  }

  .repair-description {
    height: 1.8rem;
    line-height: 1.8rem;
  }
  .repair-description-value {
    color: #747474;
    height: 1.8rem;
    line-height: .4rem;
    width: 70%;
    text-align: right;
    padding-top: .4rem;
  }

  .my-order-detail-detail-title {
    background-color: rgb(229, 229, 229);
    margin: 0;
    padding: 0 .2rem;
    border-bottom: 1px solid #f6f6f6;
    width: 100%;
    height: .9rem;
    line-height: .9rem;
  }
}