<!--四个按钮-->
<div class="btns">

	<div class="btn f-l" ui-sref="furnitureRepair">
		<img ng-src="./images/家居维修.png">
		<label class="ta-c d-b">家居维修</label>
	</div>

	<div class="btn f-l" ui-sref="overallDecoration">
		<img ng-src="./images/整体装修.png">
		<label class="ta-c d-b">整体装修</label>
	</div>

	<div class="btn f-l" ui-sref="redPackage">
		<img ng-src="./images/qaingqianbao.png">
		<label class="ta-c d-b">抢红包</label>
	</div>

	<div class="btn f-l" ui-sref="vrCheckRoom">
		<img ng-src="./images/home_icon_vr.png">
		<label class="ta-c d-b">VR看房</label>
	</div>

</div>
