<ul ng-show="isShown" class="bg-w foot">
	<li ui-sref-active="select" ui-sref="main" class="ta-c">
		<i class="va-m fa fa-home"></i>
		<span class="va-t">首页</span>
	</li>
	<li ui-sref-active="select" ui-sref="case" class="ta-c">
		<i class="va-m fa fa-list-alt"></i>
		<span class="va-t">案例</span>
	</li>
	<li ui-sref-active="select" ui-sref="knowledge" class=ta-c">
		<i class="va-m fa fa-book"></i>
		<span class="va-t">知识库</span>
	</li>
	<li ui-sref-active="select" ui-sref="me" class="ta-c">
		<i class="va-m fa fa-user"></i>
		<span class="va-t">我的</span>
	</li>
</ul>
