<!--列表-->
<ul class="me-list">
	<li class="btn" ui-sref="order">
		<img src="./images/icon_my_fix.png">
		<span class="me-list-li-title"> 我的维修</span>
		<span class="me-list-li-detail">查看维修订单 ></span>
	</li>

	<li class="btn" ui-sref="personalInfo">
		<img src="./images/icon_my_infor.png">
		<span class="me-list-li-title"> 基本信息</span>
		<span class="me-list-li-detail">修改个人信息 ></span>
	</li>

	<li class="btn">
		<img src="./images/icon_my_point.png">
		<span class="me-list-li-title"> 我的积分</span>
		<span class="me-list-li-detail" style="color: black"><span ng-bind="user.Points?user.Points:'积分： '"></span></span>
	</li>

	<li class="btn" ui-sref="feedback">
		<img src="./images/icon_my_view.png">
		<span class="me-list-li-title"> 意见反馈</span>
		<span class="me-list-li-detail">填写意见反馈 ></span>
	</li>

	<li ng-click="customerService()" class="btn">
		<img src="./images/icon_my_service.png" >
		<span class="me-list-li-title"> 联系客服</span>
		<span class="me-list-li-detail">4009268200 ></span>
	</li>

	<li class="btn" ui-sref="about">
		<img src="./images/icon_my_about.png">
		<span class="me-list-li-title"> 关于我们</span>
		<span class="me-list-li-detail">关于易居乐筑 ></span>
	</li>
</ul>