.btns {
  overflow: hidden;
  height: 1.5rem;
  .btn {
    width: 20vw;
    margin: 2.5vw 2.5vw 2vw 2.5vw;

    img {
      width: 9.5vw;
      height: 9.5vw;
      margin: 0 0 2vw 0;
    }

    label {
      font-weight: normal;
      color: @btnTextColor;
      font-size: 3.2vw;
    }
  }
}