.case {
  height: 100%;
  width: 100%;

  list-style-type: none;

  margin-right: 1.73vw;
  margin-left: 1.73vw;
  padding: 0;

  li {
    width: 46.4vw;
    height: 41.1vw;
    margin-left: 0.9vw;
    margin-right: 0.9vw;
    margin-top: 10px;
    margin-bottom: 10px;
    img {
      height: 70%;
      width: 100%;
      border-radius: 1vw;
    }
    .case-describe {
      height: 24.5%;
      width: 100%;
      line-height:100%;
      .case-describe-title {
        font-size: 3.4vw;
        color: #404040;
        margin-top: 2.4vw;
        line-height:100%;
      }
      .case-describe-content {
        color: #949494;
        font-size: 3vw;
        margin-top: 2.4vw;
        line-height:m100%;
      }
    }

  }
}