.head {
  background-color: @headBgColor;
  position: fixed;
  top: 0;
  left: 0;
  height: .9rem;
  line-height: .9rem;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 100;
  font-size: 3.6vw;
  text-align: center;

  span {
    display: inline-block;
    color: white;
    height: 100%;
    //float: left;

  }

  .head-left,
  .head-right {
    position: absolute;
    width: 10%;
    margin: 0;
    padding: 0;
  }
  .head-left {
    left: 0;
  }
  .head-right {
    right: 0;
  }

  #backBtn {
    font-size: 5vw;
  }

  #calculator {
    font-size: 4.5vw;
  }

  #title {
    width: 80%;
    margin: 0;
    padding: 0;
  }

  #complete {
  }

  #envelope {
    font-size: 4.5vw;
  }

  #share {
    font-size: 5vw;
  }




}
