.head {
  background-color: @headBgColor;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  .h(50);
  .lh(50);
  padding: 0 7px;
  z-index: 100;
  .back-btn {
    font-size: 20px;
    width: 1rem;
    left: 0;
  }
}
