.me-head {
  width: 100%;
  height: 180px;
  background: @headBgColor;
  display: table;
  //text-align: center;
  .me-head-indiv {
    display: table-cell;
    vertical-align: middle;
    .me-head-img {
      width: 80px;
      height: 80px;
      margin: 0 auto;
      text-align: center;
    }
    .me-head-btn {
      margin: 10px auto;
      width: 25vw;
      text-align: center;
    }
    .me-head-info {
      text-align: center;
      padding: 0;
      margin-top: 10px;

      li {
        text-align: center;
        font-size: 4.27vw;
        list-style: none;
        display: block;
        width: 100%;
        margin-top: 3px;
      }
    }

  }
}
